@model IEnumerable<KTGKNgMay.Models.TblCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "TblCategory", FormMethod.Get)) // -- phần thay đổi
    {
    <p>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNote)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryNote)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }

    </table>
